@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }


@layer utilities {
    .pb-safe {
        padding-bottom: calc(env(safe-area-inset-bottom) + 0.5rem);
    }
}

html {
  overflow-y: scroll; /* zorgt dat de scrollbar altijd ruimte inneemt */
}
